/* root */
:root {

  /* text color */
  --primary-text-color: #737373;
  --secondary-text-color: #000000;
  --tertiary-text-color: #3B82F6;
  --quaternary-text-color: #404040;
  --fifth-text-color: #FFFFFF;
  --sixth-text-color: #A3A3A3;
  --seventh-text-color: #111111;
  --eighth-text-color: #2563EB;
  --ninth-text-color: #1D4ED8;
  --tenth-text-color: #404040;
  --eleventh-text-color: #262626;

  /* font-family */
  --primary-font-family: 'Inter', sans-serif;

  /* font-weight */
  --primary-font-weight: 300;
  --secondary-font-weight: 400;
  --tertiary-font-weight: 500;
  --quaternary-font-weight: 600;
  --fifth-font-weight: 700;

  /* border-color */
  --primary-border-color: #E5E5E5;
  --secondary-border-color: #D4D4D4;
  --tertiary-border-color: #A3A3A3;
  --quaternary-border-color: #2563EB;
  --fifth-border-color: #BFDBFE;
  --sixth-border-color: #3b82f6;
  --seventh-border-color: #E4E4E7;

  /* btn-color */
  --primary-btn-color: #3B82F6;
  --secondary-btn-color: #5491f6;
  --tertiary-btn-color: #2563EB;
  --quaternary-btn-color: #000000;

  /* background-color */
  --primary-background-color: #F5F5F5;
  --secondary-background-color: #FFFFFF;
  --tertiary-background-color: #4BB34B;
  --quaternary-background-color: #A3A3A3;
  --fifth-background-color: #BFDBFE;
  --sixth-background-color: #3B82F6;
  --seventh-background-color: #EFF6FF;
  --eighth-background-color: #FEF08A;
  --ninth-background-color: #FAFAFA;
  --tenth-background-color: #2688EB;

  }